/* cart.css */

.cart-container {
  padding: 20px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.cart-item img {
  width: 40%; /* Adjust the width as needed */
  height: auto;
  object-fit: cover;
}

.cart-item-info {
  flex: 1;
  padding-left: 20px;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-container button {
  background-color: #f8f9fa;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.remove {
  background-color: #dc3545;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
}

.cart-summary {
  margin-top: 20px;
  text-align: right;
}

.total {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.process-btn {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}
