
.cart-container {
  padding: 20px;
  
}


.cartloading{
 width: 100%;
 /* display: flex;
 margin-top: 200px;
 height: 200px; */
}
.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.cart-item img {
  width: 40%; 
  height: auto;
  object-fit: cover;
}

.cart-item-info {
  flex: 1;
  padding-left: 20px;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-container button {
  background-color: #f8f9fa;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.remove {
  background-color: #dc3545;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
}

.cart-summary {
  margin-top: 20px;
  text-align: right;
}

.total {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-right: 16px;
 
}

.process-btn {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

.shipping-form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #000000;
  margin-top: 50px;
  font-size:20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shipping-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.container {
  margin-bottom: 10px;
}

.inputs {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ececec;
  font-size: 20px;
  font-weight: 600;
}

.placeorder {
  width: 100%;
  padding: 10px ;
  background-color: #44bc50;
  color: #000000;
  margin-top: 30px;
  border: none;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
}

/* Responsive CSS */
@media (max-width: 768px) {
  .shipping-form-container {
    padding: 10px;
  }

  .main-container {
    padding: 0;
  }

  .inputs {
    margin-bottom: 10px;
  }
 

}
