.cart-img{
    width: 40px;
}
.login{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.register{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@font-face{
    src: url("../../fonts/Mont-ExtraLightDEMO.otf");
    font-family: "mont";
}
.brandtitle{
    font-family: 'monto';
    font-size: 30px;
    font-weight: 700;
}
.toggle{
    border: none;
    margin-top: -20px;
}
.cart-img{
    margin-top: -30px;
}
#bg-body-tertiary{
   margin-bottom: 20px;
}