.cart-img{
    width: 40px;
}
.login{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.register{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.brandtitle{
    font-family: 'fontstart';
}