
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@font-face{
    font-family: "corner";
    src: url("../src/fonts/Cornerstone.ttf");
  }
body{

    color: rgb(252, 252, 252);
background-color: rgb(5, 5, 5);
font-family: "corner";
font-weight: 400;
font-style: italic;
}
