
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.text-muted{
    padding: 10px;
    margin-top: 35px;
    margin-bottom:30px;
    border-radius: 10px;
    border: none;
    color: #423a3a;
    background-color: rgba(125, 245, 139, 0.992);
}
/*type*/
@font-face{
    font-family: "bosko";
    font-family: "gothvetica";
    font-family: "cornor";
    font-family: "fontstart";
    src: url("../../fonts/Fonstars-4Bo0p.otf");
   
}

.text{
    font-family: "fontstart";
   

}
.head{
    margin-top: 10px;
border-radius: 20px;
    box-shadow:5px 8px 10px 7px  rgba(35, 35, 35, 0.252);
}
.text-btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #423a3a;
    background-color: rgba(125, 245, 139, 0.992);
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.504);
}
.feature{
    background-color: rgb(255, 255, 255);
}
.text-center{
    background-color: #423a3a;
    
}