.googlebtn{
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: aquamarine;
border: none;
padding: 10px;
font-weight: 800;

}

.loginmsg{
  color: aliceblue;
}
.login-title{
  color: white;
  font-size: 20px;
}