.background{
    background-image: url('../componets/images/nuruto.gif');
    font-family:'Times New Roman', Times, serif;
}
h1{
    color: rgb(255, 255, 255);
    
   
}
.brand {
    font-size: 24px;
    margin-bottom: 20px;
    
  }
  
  .play-button .music{
   background-color: aqua;
   
  }
  .main-links {
    display: flex;
    margin-top: 150px;
    text-decoration: none;
    justify-content: space-between;
  
  }
  .foot-item{
    color: white;
  }

  a{
    text-decoration: none;
  }
  .main-links .link-item{
    margin-top:10px;
   
color: rgb(255, 255, 255);
font-family:'Times New Roman', Times, serif;
font-weight: 800;
font-size: 30px;
  }
  .main-foot {
    display: flex;
    margin-top:250px;
    flex-direction: column;
    background-color: black;
    text-decoration: none;
  }
  
  .link-item,
  .foot-item {
    margin-bottom: 20px;
  }
  
  /* Media queries for mobile responsiveness */
  @media only screen and (max-width: 760px) {
    .brand {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    .main-links {
      flex-direction: column;
      align-items: center;
      font-family:'Times New Roman', Times, serif;
     
    }
  
    .link-item {
      margin-bottom: 8px;
    }
  
    .foot-item {
      margin-bottom: 5px;
      text-decoration: none;
      color: rgb(244, 244, 244);
      font-size: 20px;
    }
  }
  