/* Enter.css */


.background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.subhead{
 font-weight:bolder;
 font-size: 10px;
  margin-top: -30px;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
  color: rgb(251, 251, 251);
  
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  z-index: 1;
  color: white;
  text-align: center;
}



.brand-img {
  font-family:'mont';
  font-weight: 700;
  margin-bottom: 20px;
 
}

.main-links {
  
  display: flex;
  margin-top: 10%;
  justify-content: space-around;
  width: 100%;
  letter-spacing: 26px;
 
}

h1 .link-item {
  margin-top: 10px;
  font-size: 20px;
  color: white;

}

#link{
  color: #fff;
  text-decoration: none;
  background-color: #0a0a0a32;

}

.main-foot {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

.foot-item {
  display: inline-block;
  margin: 0 1rem;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.link-main{
  text-decoration: none;
}

@media only screen and (max-width: 760px) {
  .link-main{
    text-decoration: none;
    font-size: 20px;
    
  }

  .text-overlay {
    justify-content: flex-start;
    text-decoration: none;
  }

  .brand-img {
    margin-top: 40px;
    font-size: 70px;
    color: rgb(221, 224, 224);
  }

  .main-links {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-top: 40%;
  }

h1 .link-item {
    font-size: 30px;
    margin-bottom: 3vw;
  }
  
  #link{
    font-size: 40px;
    text-decoration: none;
  }

  .main-foot {
    margin-bottom: -100px;
    background: rgba(0, 0, 0, 0.554);
    padding: 40px 300px;
  }

  .foot-item {
    font-size: 20px;
  }
}
