/* product.css */

.contact-container{
  justify-content: center;
margin-top: 100px;
  text-align: center;
  font-family: "mont";

}
#icon{
  width: 50px;
text-decoration: none 
}
.icon-whatsapps{
 
  filter: drop-shadow(0 0 0.75rem rgba(15, 223, 32, 0.567));
}
.icon-facebook{
 
  filter: drop-shadow(0 0 0.75rem rgba(100, 213, 241, 0.589));
}
.icon-instagram{
 
  filter: drop-shadow(0 0 0.75rem rgba(255, 27, 217, 0.918));
}

.icon-telegram{
 
  filter: drop-shadow(0 0 0.75rem rgba(27, 240, 255, 0.918));
}


.main-containers{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 20px;
}
.contact{
color: white;
background-color: #262424;
text-decoration: none;
font-family: "fontstart";

}
.contact:hover{
  color: palevioletred;
}

/* General container styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Product list styling */
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
    justify-content: center;
  }
  
  .product {
  
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(50% - 40px); /* Two cards per row */
    max-width: 300px;
    margin: 10px;
    text-align: center;
    padding: 15px;
  }
  
  .product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  
  .product h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .product p {
    font-size: 0.9em;
    color: #bababa;
    margin: 10px 0;
  }
  
  .product span {
    font-size: 1.1em;
    font-weight: bold;
    color: #c0bebe;
    display: block;
    margin: 10px 0;
  }
  
  .product button {
    background-color: #7bdb76;
    color: #353535;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product button:hover {
    background-color: #90d771;
  }
  
.d-flex .search{
  border: 1px solid blueviolet;
  width: 90%;
margin-left: 20px;
margin-right: 20px;
text-transform:uppercase;
}

.d-flex .searchbtn{
  border: none;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  border-radius: 10px;
  margin-right: 20px;
  
}

@keyframes appear {
    from{
      opacity: 0;
      scale: 0.5;
      /* clip-path: inset(100% 100% 0 0); */
      /* transform: translateX(-100px); */
    }
    to{
      opacity: 1;
      /* clip-path: inset(0 0 0 0); */
      /* transform: translateX(0px); */
      scale: 1;
    }
  }

  
.product-card{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;

 }

    
 

 .product-image{
 
 padding: 15px
 }

.containers .product-title{ 
  color:rgb(0, 0, 0);
  font-weight: 900;
}

.containers  .title-oversized-cut{
  color: black;

}
.containershome .product-price{
  color: black;
  font-weight: 800;
 
}
