/* Dashbroad.css */

.dashbroad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #ffffff;
  }
  .dashbroad-container h2{
    color: #000000;
  }
  .dashbroad-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .createproduct,
  .show-all-products {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  
  .link {
    margin-top: 10px;
    text-decoration: none;
    color: #000000;
    padding: 20px;
    background-color: #ccc;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  /* Responsive styles */
  @media (min-width: 768px) {
    .dashbroad-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .createproduct,
    .show-all-products {
      width: 45%;
      margin: 20px 2.5%;
    }
  }
  