/* Footer.css */
footer {
  padding: 20px;
  font-family: "mont";
  background-color: #000000;
  border-top: 1px solid rgb(180, 179, 179);
}
.links{
  text-decoration: none;
  color: white;
}

.footer-sections span{
  margin-top: 20px;
  border: none;
  font-size:20px; 
  background-color: #000000;
}

.footerlinks .accordion-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #000;
}

.footerlinks .accordion-button:focus {
  box-shadow: none;
  border: none;
}

.footerlinks .accordion-body {
  background-color:black;
  color: aliceblue;
  border: none;
}

.footerlinks .link-detail li {
text-align: center;
display: flex;
border: none;
margin: 10px;
}

h1, h6, p {
  margin: 5px 0;
  font-size: 20px;
}

span {
  display: block;
  margin-top: 20px;
}
.contactlinks{
  margin-top: 20px;
  background-color: #000;
}
.contactlinks h6{
  font-size: 20px;
  border-bottom: 1px solid rgb(164, 163, 163);
  padding: 10px;

}
.contactlinks p{
  margin-top: 20px;
}

.info h6{

border-bottom: 1px solid rgb(170, 169, 169);
padding: 10px;
font-size: 20px;
margin-top: 10px;
}
.info p{
  margin-top: 20px;
}