.img-main {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  gap: 10px;
  margin-left:-10px;
  scroll-behavior: smooth; 
  margin-top: 0px;

  
}

.header {
  font-size: 2.5rem;
  text-align: center;
  color: #171616;
  margin: 20px 0;
  margin-top: 20px;
  margin-bottom:-50px;
    
  
}


.showmore {
  margin-top: 20px;
  color: rgb(198, 195, 195);
  text-decoration: underline;
  display: block;
  text-align: end;
  margin-right: 20px;
}

.products {
  display: inline-block;
  flex: none;
  text-align: center;
}

.stackimg {
  width: 300px; 
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.5s ease-in-out; 
}

.stackimg:hover {
  transform: scale(1.05);
}

.title-oversized {
  font-size: 1rem;
  color: #f0eded;
}
.title-oversized {
  font-size: 20px;
 font-family: "monta";
  color: rgb(255, 255, 255);
}
.title-oversized-cut{
  text-decoration:line-through;

  margin-top: -10px;
  font-size: 15px;
  color: rgb(192, 187, 187);
}
.title-oversized-org{
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: -10px;
}


@media (max-width: 768px) {
  .stackimg {
    width: 180px; 
  }
 
  
  .header {
    font-size: 1.5rem;
    display:flex ;
    margin-left: 10px;
    color: rgb(245, 245, 245);
    font-size: 30px;
   
  }
 
  .showmore {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .title-oversized {
    font-size: 20px;
   font-family: "monta";
    color: rgb(255, 255, 255);
  }
  .title-oversized-cut{
    text-decoration:line-through;

    margin-top: -10px;
    font-size: 15px;
    color: rgb(192, 187, 187);
  }
  .title-oversized-org{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: -10px;
  }
}
