.cart-img{
 height: 40px;
 width: 40px;
}
.product-card {
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.product-title {
  font-size: 1rem;
  color: #ffffff;
  margin-top: 10px;
}

/* Loading image styles */
.loading-image {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: auto;
  text-align: center;
}

/* Container and grid setup */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 images per row */
  gap: 20px;
}

.grid-title {
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* Ensures 2 images per row on mobile */
  }
  
  .grid-title {
    font-size: 1.5rem;
  }

  .product-title {
    font-size: 0.8rem;
  }
}
